[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
defusedxml = "*"
rq = "*"
"flask-rq2" = "*"

[dev-packages]
pytest = "*"
pytest-runner = "*"
pytest-flask = "*"

[requires]
python_version = "3.6"
